/* Imagen de fondo */
body {
  background-image: url("../img/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Centra el contenido verticalmente */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* Estilo del área de la lista de tareas */
.to-do {
  padding: 3rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
  width: 70%;
  max-width: 80rem;
  /* Glassmorphism */
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1.6rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Color de fondo con opacidad del 80% */
}

/* Estilo del campo de entrada de nueva tarea */
.input input {
  width: calc(100% - 10rem); /* Tamaño del input ajustado para el botón */
  height: 3rem;
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

/* Estilo del botón de agregar tarea */
.input button {
  height: 3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: darkgreen;
  color: white;
  cursor: pointer;
}

/* Estilo de la sección de información */
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

/* Estilo de los títulos de información */
.info-titulo {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

/* Estilo del contenedor de conteo */
.conteo {
  margin-top: 1rem; /* Espacio superior */
}

/* Estilo de los párrafos en el contenedor de conteo */
.conteo p {
  margin: 0.5rem 0; /* Espacio entre párrafos */
}

/* Estilo de los números de conteo */
.conteo #total,
.conteo #realizadas {
  font-weight: bold; /* Texto en negrita */
  color: darkgreen; /* Color de texto */
}

/* Estilo de las celdas de la tabla */
.tabla th,
.tabla td {
  padding: 1rem;
  border: 0.1rem solid #ccc;
}

/* Estilo del contenedor del ID */
.tabla td.id-container {
  text-align: center;
  vertical-align: middle;
}

/* Estilo del contenedor del checkbox */
.tabla td.checkbox-container {
  text-align: center;
  vertical-align: middle;
}

/* Estilo de los títulos de la tabla */
.tabla th {
  background-color: #f0f0f0;
}

/* Estilo de los botones de acción */
.tabla button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: darkred;
  color: white;
  cursor: pointer;
}

/* Media query para pantallas de hasta 320px */
@media only screen and (max-width: 320px) {
  .to-do {
    width: 95%;
    padding: 1rem; /* Ajuste del espaciado */
  }

  .tabla th,
  .tabla td {
    padding: 0.5rem; /* Ajuste del espaciado */
  }

  .info {
    flex-direction: column;
  }

  .input input::placeholder {
    content: "Ingrese Tarea"; /* Placeholder modificado */
  }
}

/* Media query para pantallas entre 321px y 768px */
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .to-do {
    width: 90%;
    padding: 2rem; /* Ajuste del espaciado */
  }

  .contenedor {
    flex-direction: column;
  }

  .tabla {
    overflow-x: auto;
  }
}

/* Media query para pantallas entre 769px y 992px */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .to-do {
    width: 80%;
  }
}
