/* Imagen de fondo */
body {
  background-image: url("../img/background.jpg"); /* URL de la imagen de fondo */
  -webkit-background-size: cover; /* Ajuste del tamaño de la imagen para navegadores WebKit */
  -moz-background-size: cover; /* Ajuste del tamaño de la imagen para navegadores Mozilla */
  -o-background-size: cover; /* Ajuste del tamaño de la imagen para navegadores Opera */
  background-size: cover; /* Ajuste del tamaño de la imagen para otros navegadores */
  background-repeat: no-repeat; /* No repetir la imagen de fondo */
  background-attachment: fixed; /* Fijar la imagen de fondo */
  background-position: center; /* Posición de la imagen de fondo en el centro */
}

/* Centra el contenido verticalmente */
.contenedor {
  display: flex; /* Usar flexbox para el diseño */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 90vh; /* Altura del contenedor del 90% del viewport */
}

/* Estilo del área de la lista de tareas */
.to-do {
  padding: 3rem; /* Espaciado interno */
  border: 0.2rem solid black; /* Borde sólido de 0.2rem de grosor en negro */
  border-radius: 1rem; /* Borde redondeado */
  width: 70%; /* Ancho del área de la lista de tareas */
  max-width: 80rem; /* Ancho máximo */
  background: rgba(255, 255, 255, 0.6); /* Fondo con opacidad */
  border-radius: 1.6rem; /* Borde redondeado */
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1); /* Sombra */
  backdrop-filter: blur(0.5rem); /* Filtro de desenfoque */
  -webkit-backdrop-filter: blur(0.5rem); /* Filtro de desenfoque para WebKit */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde con opacidad */
}

/* Estilo del campo de entrada de nueva tarea */
.input input {
  width: calc(100% - 10rem); /* Ancho del input */
  height: 3rem; /* Altura del input */
  padding: 0.5rem; /* Espaciado interno */
  border: 0.1rem solid #ccc; /* Borde sólido de 0.1rem de grosor en color gris */
  border-radius: 0.5rem; /* Borde redondeado */
  margin-right: 1rem; /* Margen derecho */
}

/* Estilo del botón de agregar tarea */
.input button {
  height: 3rem; /* Altura del botón */
  padding: 0.5rem 1rem; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 0.5rem; /* Borde redondeado */
  background-color: darkgreen; /* Color de fondo oscuro */
  color: white; /* Color de texto blanco */
  cursor: pointer; /* Cursor de puntero */
}

/* Estilo de la sección de información */
.info {
  display: flex; /* Usar flexbox para el diseño */
  justify-content: space-between; /* Distribuir elementos uniformemente */
  margin-top: 2rem; /* Margen superior */
}

/* Estilo de los títulos de información */
.info-titulo {
  display: flex; /* Usar flexbox para el diseño */
  gap: 2rem; /* Espaciado entre elementos */
  font-weight: bold; /* Texto en negrita */
}

/* Estilo del contenedor de conteo */
.conteo {
  margin-top: 1rem; /* Margen superior */
}

/* Estilo de los párrafos en el contenedor de conteo */
.conteo p {
  margin: 0.5rem 0; /* Espaciado entre párrafos */
}

/* Estilo de los números de conteo */
.conteo #total,
.conteo #realizadas {
  font-weight: bold; /* Texto en negrita */
  color: darkgreen; /* Color de texto verde oscuro */
}

/* Estilo de las celdas de la tabla */
.tabla th,
.tabla td {
  padding: 1rem; /* Espaciado interno */
  border: 0.1rem solid #ccc; /* Borde sólido de 0.1rem de grosor en color gris */
}

/* Estilo del contenedor del ID */
.tabla td.id-container {
  text-align: center; /* Alineación centrada */
  vertical-align: middle; /* Alineación vertical centrada */
}

/* Estilo del contenedor del checkbox */
.tabla td.checkbox-container {
  text-align: center; /* Alineación centrada */
  vertical-align: middle; /* Alineación vertical centrada */
}

/* Estilo de los títulos de la tabla */
.tabla th {
  background-color: #f0f0f0; /* Color de fondo gris claro */
}

/* Estilo de los botones de acción */
.tabla button {
  padding: 0.5rem 1rem; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 0.5rem; /* Borde redondeado */
  background-color: darkred; /* Color de fondo rojo oscuro */
  color: white; /* Color de texto blanco */
  cursor: pointer; /* Cursor de puntero */
}

/* Media query para pantallas de hasta 320px */
@media only screen and (max-width: 320px) {
  body {
    background-size: cover; /* Ajuste del tamaño de fondo para cubrir toda la pantalla */
    background-position: center; /* Ajuste de la posición de fondo para mostrar el lado derecho */
  }

  .to-do {
    width: 95%; /* Ancho del área de la lista de tareas */
    padding: 1rem; /* Ajuste del espaciado */
  }

  .tabla th,
  .tabla td {
    padding: 0.5rem; /* Ajuste del espaciado */
  }

  .info {
    flex-direction: column; /* Dirección de flexbox en columna */
  }

  .input input::placeholder {
    content: "Ingrese Tarea"; /* Placeholder modificado */
  }
}

/* Media query para pantallas entre 321px y 768px */
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .to-do {
    width: 90%; /* Ancho del área de la lista de tareas */
    padding: 2rem; /* Ajuste del espaciado */
  }

  .contenedor {
    flex-direction: column; /* Dirección de flexbox en columna */
  }

  .tabla {
    overflow-x: auto; /* Desplazamiento horizontal automático */
  }
}

/* Media query para pantallas entre 769px y 992px */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .to-do {
    width: 80%; /* Ancho del área de la lista de tareas */
  }
}
